@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --primary-bkg: 9 9 10;
    --secondary-bkg: 12 12 14;
  }

  .light {
    --primary-bkg: 230 233 235;
    --secondary-bkg: 245 246 247;
  }

  @font-face {
    font-family: "Recoleta";
    src: url("/fonts/recoleta/regular.otf") format("opentype");
  }
}

/* Markdown styles for Blog posts & Text Editor */
.markdown hr {
  height: 1px;
  margin: 1em 0;
  padding: 0;
  @apply border-t border-gray-300 dark:border-gray-700;
}

.markdown blockquote {
  @apply p-4 my-2 pl-10 border-l-4 border-gray-400 dark:border-gray-600 text-gray-500 dark:text-slate-300 italic;
}

.markdown h1 {
  @apply !text-3xl !font-bold;
}

.markdown h2 {
  @apply !text-2xl !font-bold;
}

.markdown h3 {
  @apply !text-xl !font-bold;
}

.markdown h4 {
  @apply !text-lg !font-bold;
}

.markdown h5 {
  @apply !font-bold;
}

.markdown h6 {
  @apply !text-sm !font-bold;
}

.markdown mark {
  @apply bg-primary/40 dark:bg-primary/30;
}

.markdown ol {
  @apply list-decimal px-5;
}

.markdown ul {
  @apply list-disc px-5;
}

/* Custom classes */
.animate-float {
  animation: float 3s infinite;
}

.highlight {
  @apply w-full px-1;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
